<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ojt.mapper.ProjectMemberMapper">

	<!-- 프로젝트 멤버 조회 -->
	<select id="getProjectMemberList" parameterType="int" resultType="com.ojt.bean.ProjectMemberBean">
		select 
			mem.mem_seq, 
			mem.mem_nm, 
			dept.dtl_cd_nm as dept, 
			pos.dtl_cd_nm as position, 
			pm.st_dt, pm.ed_dt,
            ro.dtl_cd as ro_cd,
            ro.dtl_cd_nm as role
		from project_member_table pm 
		inner join member_info mem on mem.mem_seq = pm.mem_seq 
		inner join member_company mc on mc.mem_seq = mem.mem_seq 
		left join code_detail dept on dept.mst_cd = 'DP01' and dept.dtl_cd = mc.dp_cd 
		left join code_detail pos on pos.mst_cd = 'RA01' and pos.dtl_cd = mc.ra_cd 
        left join code_detail ro on ro.mst_cd = 'RO01' and ro.dtl_cd = pm.ro_cd
		where pm.prj_seq = #{prj_seq}
	</select>
	
	<!-- 프로젝트 멤버 인원 등록 조회 -->
	<select id="searchNotProjectMember" resultType="com.ojt.bean.MemberBean">
		select 
			mem.mem_seq, 
			mem.mem_nm, 
			dept.dtl_cd_nm as dept, 
			pos.dtl_cd_nm as position 
		from member_info mem 
		inner join member_company mc on mc.mem_seq = mem.mem_seq 
		left join code_detail dept on dept.mst_cd = 'DP01' and dept.dtl_cd = mc.dp_cd 
		left join code_detail pos on pos.mst_cd = 'RA01' and pos.dtl_cd = mc.ra_cd 
		where mem.mem_seq not in (
			select 
				pm.mem_seq
			from project_member_table pm 
			where pm.prj_seq = #{prj_seq}
		) and mem.mem_nm like #{mem_nm}
	</select>
	
	<!-- 신규 프로젝트 멤버 인원 등록 조회 -->
	<select id="getNotAddProjectMember" resultType="com.ojt.bean.MemberBean">
		select 
			mem.mem_seq, 
			mem.mem_nm, 
			dept.dtl_cd_nm as dept, 
			pos.dtl_cd_nm as position 
		from member_info mem 
		inner join member_company mc on mc.mem_seq = mem.mem_seq 
		left join code_detail dept on dept.mst_cd = 'DP01' and dept.dtl_cd = mc.dp_cd 
		left join code_detail pos on pos.mst_cd = 'RA01' and pos.dtl_cd = mc.ra_cd 
		where mem.mem_nm like #{str} ${optionalQuery}
	</select>
	
	<!-- 프로젝트 멤버 등록 -->
	<insert id="insertProjectMember" parameterType="com.ojt.bean.ProjectMemberBean">
		insert into project_member_table values(
			#{prj_seq},
			#{mem_seq},
			#{st_dt},
			#{ed_dt},
			#{ro_cd})
	</insert>
	
	<!-- 프로젝트 멤버 수정 -->
	<update id="updateProjectMember" parameterType="com.ojt.bean.ProjectMemberBean">
		update project_member_table set 
			st_dt = #{st_dt},
			ed_dt = #{ed_dt},
			ro_cd = #{ro_cd}
		where prj_seq = #{prj_seq} and mem_seq = #{mem_seq}
	</update>
	
	<!-- 프로젝트 멤버 삭제 -->
	<delete id="deleteProjectMember" parameterType="com.ojt.bean.ProjectMemberBean">
		delete project_member_table 
		where prj_seq = #{prj_seq} and mem_seq = #{mem_seq}
	</delete>
	
</mapper>