* {
	margin: 0px;
	padding: 0px;
}

a {
	color: black;
	text-decoration: black;
}

.top-nav {
	width: 100%;
	height: 60px;
	top: 0%;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0%;
	z-index: 5;
}

.top-btn {
	border-radius: 10px;
    padding: 5px 4px;
    font-size: 15px;
    font-weight: 900;
    background-color: unset;
    border: 2px solid black;
    color: black;
    margin: 5px;
}

.top-btn-white {
	color: white;
	border-color: white;
}

.top-btn-balck{
	color: black;
	border-color: black;
}

.top-logo {
	color: lightcyan;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.top-side-menu-bar {
	height: 100%;
	width: 300px;
	background-color: gray;
	position: fixed;
	left: -500px;
	top:  60px;
	transition-duration: 0.7s;
	z-index: 5;
}

.top-show {
	left: 0px;
}

.top-side-menu {
	margin: 10px 10px;
	font-size: 20px;
}

#side_btn:hover {
	border-color: #F1F3F4;
	transition-duration: 0.2s;
}

#logout {
	border-color: red;
	color: red;
}

#logout:hover {
	border-color: #F1F3F4;
}